body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
}

.logo {
    font-size: 24px;
}

.links {
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.top {
    display: flex;
}

.top-title {
    font-size: 48px;
    font-weight: 900;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.bottom {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
}

.mid-img {
    width: 100px;
    height: auto;
}

.top-right-img {
    width: 300px;
    height: auto;
}

.header, .top, .footer {
    color: #F9FAF8;
    background-color: #1F2937;
}