body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 128px;
    padding-right: 128px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.links {
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.bottom-signup {
    border-color: white;
}

.top {
    display: flex;
    gap: 64px;
}

.top-title {
    font-size: 48px;
    font-weight: 900;
}
.top-subtext {
    font-size: 18px;
}

.top-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.mid-title {
    font-weight: 900;
    font-size: 36px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.mid-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 210px;
}

.mid-subtext {
    text-align: center;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.bottom {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
}

.mid-img {
    width: 200px;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 16px;
}

.top-right-img {
    width: 500px;
    height: auto;
}

.header, .top, .footer {
    color: #F9FAF8;
    background-color: #1F2937;
}

.top, .middle, .quote-section, .bottom {
    flex: 1;
    padding: 64px 128px 64px 128px;
}